body {
    margin: 0;
    padding: 0;
}
/**HEADER**/
header {
    position: fixed;
    top: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #f3efef;
}
header div {
    width: 60%;
}
header div img {
    width: 100%;
    max-width: 300px;
}
header nav {
    width: 40%;
}
header nav ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}   
header nav ul li a{
    color: #000 !important;
}
/**MAIN**/
main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    width: 72%;
}
/**FORM**/
form {
    width: 400px;
    margin: auto;
}
form h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}
form input[type=email] {
    width: 300px;
    margin: auto;
}
form input[type=submit] {
    width: 150px;
    margin: auto;
    font-weight: 900;
    background-color: orange;
}
form input[type=submit]:hover{
    background-color: coral;
}
/**Article Features**/
#features {
    display: flex;
    flex-direction: column;
    margin-top: 6em;
}
article .cardFeat {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}
article .cardPerso {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}
article span {
    width: 6em;
}
article span i {
    bottom: 1px;
    color: orange;
}
.cardbodyPerso h2 {
    font-size: 1.6em;
    margin: 0;
}
.cardbodyPerso p {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
}
article .videobox {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
/**ARTICLE PRICING*/
#pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardPricing {
    border: 1px solid black;
    border-radius: 0.2em;
    min-width: 280px;
    height: 300px;
    text-align: center;
}
.cardPricing h2 {
    background: chartreuse;
    font-size: 1.1em;
    padding: 1em;
    background-color: #dddddd;
}
.cardPricing h3 {
    padding: 0.5em;
    font-size: 1.6em;
}
.cardPricing ul {
    padding-bottom: 1.5em;
}
.cardPricing li {
    list-style-type: none;
    padding: 0.1em;
    font-size: 1.05em;
    font-weight: 400;
}
.cardPricing button {
    padding: 0.5em 2em;
}
.cardPricing button:hover {
    background-color: coral;
}
footer {
    background-color: rgb(230, 227, 227);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 72%;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5em;
    margin-bottom: 0;
}
footer ul li {
    list-style-type: none;
    margin: 1em 1em 0 0;
    font-size: 1.1em;
}
footer p {
    display: flex;
    justify-content: flex-end;
    margin: -0.7em 1em auto 0;
    padding-bottom: 1em;
    font-size: 0.9em;
    color: gray;
}
/**MEDIA SCREEN*/
/**HEADER NAV*/
@media screen and (min-width: 500px) and (max-width: 650px) {
    header {
        flex-direction: column;
    }
    main {
        margin-top: 14em;
    }
}
/**ARTICLE PRICING*/
@media screen and (min-width: 400px) and (max-width: 1180px) {
    #pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardPricing {
        max-width: 280px;
        margin-bottom: 1.5em;
    }
}


